<div class content>
  <span class="header-img"><img src="./assets/img/1.png" alt="Djangui"></span>
  <mat-toolbar>
    <mat-toolbar-row>
      <span> <button mat-stroked-button >Démarrer une Cotisation</button> </span>
      <span class="buttons">
          <span> <button mat-stroked-button class="menu-btn" [matMenuTriggerFor]="cotisation"><mat-icon>paids</mat-icon> Cotisations</button> </span>
          <span> <button mat-stroked-button class="menu-btn" [matMenuTriggerFor]="tontines"><mat-icon>groups</mat-icon>Tontines</button> </span>
          <span> <button mat-stroked-button class="menu-btn" [matMenuTriggerFor]="membres" ><mat-icon>person</mat-icon>Membres</button> </span>
          <span> <button mat-stroked-button class="menu-btn" [matMenuTriggerFor]="caisse"><mat-icon>account_balance_wallet</mat-icon>Caisse</button> </span>
        <!--          <span> <button mat-button class="menu-btn" [matMenuTriggerFor]="emprunt">Emprunt</button> </span>-->
        <!--          <span> <button mat-button class="menu-btn" [matMenuTriggerFor]="epargne">Epargne</button> </span>-->
    </span>
      <span class="plus"> <button mat-button color="warn" class="menu-btn" [matMenuTriggerFor]="plus">Plus</button> </span>

      <mat-menu #cotisation>
        <button mat-menu-item class="sub-menu-btn"><mat-icon>add</mat-icon>Nouvelle</button>
        <button mat-menu-item class="sub-menu-btn" routerLink="tontines"><mat-icon color="primary">analytics</mat-icon>Consulter</button>
        <button mat-menu-item class="sub-menu-btn" routerLink="echec"><mat-icon color="accent">payments</mat-icon>Payer un echec</button>
      </mat-menu>

      <mat-menu #tontines>
        <button mat-menu-item class="sub-menu-btn"><mat-icon color="primary">add</mat-icon>Nouvelle tontine vente</button>
        <button mat-menu-item class="sub-menu-btn"><mat-icon color="primary">add</mat-icon>Nouvelle tontine simple</button>
        <button mat-menu-item class="sub-menu-btn" routerLink="tontines" ><mat-icon color="primary">list</mat-icon>Liste tontine vente</button>
        <button mat-menu-item class="sub-menu-btn" routerLink="tontines" ><mat-icon color="primary">list</mat-icon>Liste tontine simple</button>
      </mat-menu>

      <mat-menu #membres>
        <button mat-menu-item class="sub-menu-btn" routerLink="addMember"><mat-icon color="primary">person_add</mat-icon>Inscrire</button>
        <button mat-menu-item class="sub-menu-btn" routerLink="members"><mat-icon color="primary">person</mat-icon>Consulter</button>
      </mat-menu>

      <mat-menu #caisse>
        <button mat-menu-item class="sub-menu-btn"><mat-icon color="primary">arrow_drop_up</mat-icon>Credit de caisse</button>
        <button mat-menu-item class="sub-menu-btn"><mat-icon color="primary">arrow_drop_down</mat-icon>Debit de caisse</button>
      </mat-menu>

      <mat-menu #emprunt>
        <button mat-menu-item class="sub-menu-btn">Nouvelle</button>
        <button mat-menu-item class="sub-menu-btn">Consulter</button>
      </mat-menu>

      <mat-menu #epargne>
        <button mat-menu-item class="sub-menu-btn">Nouvelle</button>
        <button mat-menu-item class="sub-menu-btn">Consulter</button>
      </mat-menu>

      <mat-menu #plus>
        <button mat-menu-item class="sub-menu-btn"><mat-icon color="primary">balance</mat-icon>Sanctions</button>
        <button mat-menu-item class="sub-menu-btn"><mat-icon color="primary">local_hospital</mat-icon>Aides</button>
        <button mat-menu-item class="sub-menu-btn"><mat-icon color="primary">done_all</mat-icon>Presences</button>
        <button mat-menu-item class="sub-menu-btn"><mat-icon color="primary">badge</mat-icon>Etats</button>
        <button mat-menu-item class="sub-menu-btn"><mat-icon color="primary">arrow_drop_up</mat-icon>Credit de caisse</button>
        <button mat-menu-item class="sub-menu-btn"><mat-icon color="primary">arrow_drop_down</mat-icon>Debit de caisse</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
  <div class="footer">
    <span>© 2019 Copyright: Djangui</span>
    <span>by MegaPlus</span>
  </div>
</div>

